html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 2s ease-in-out;
  background: linear-gradient(to right, #0f3443 0%, #34e69f 100%);


}

body {
  background-color: transparent;
  transition: background-color 2s ease-in-out;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
}

body.black-background {
  height: 100vh;
}

.traffic-light-container {

  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.traffic-light {
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.traffic-light-pole {
  width: 20px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.light {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.light.red {
  background-color: rgba(255, 0, 0, 0.4);
}

.light.red.active {
  background-color: red;
  box-shadow: 0 0 15px red;
}

.light.yellow {
  background-color: rgba(255, 255, 0, 0.4)
}

.light.yellow.active {
  background-color: yellow;
  box-shadow: 0 0 15px yellow;
}

.light.green {
  background-color: rgba(0, 128, 0, 0.4);
}

.light.green.active {
  background-color: rgb(17, 255, 17);
  box-shadow: 0 0 15px green;
}

.shadow {
  width: 50px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-top: 0px;
  z-index: 1;
}



.crosswalk {
  width: 45%;
  position: absolute;
  left: 27.5%;
  bottom: 25%;
  display: flex;
  justify-content: center;
  border-right: 55px solid transparent;
  border-bottom: 35px solid #949494;
  border-left: 55px solid transparent;
}

.crosswalktwo {
  width: 35%;
  position: absolute;
  left: 32.5%;
  bottom: 32%;
  display: flex;
  justify-content: center;
  border-right: 50px solid transparent;
  border-bottom: 30px solid #949494;
  border-left: 50px solid transparent;
}

.crosswalktree {
  width: 25%;
  position: absolute;
  left: 37.5%;
  bottom: 38%;
  display: flex;
  justify-content: center;
  border-right: 45px solid transparent;
  border-bottom: 25px solid #949494;
  border-left: 45px solid transparent;
}

.crosswalkfour {
  width: 17%;
  position: absolute;
  left: 41.4%;
  bottom: 43%;
  display: flex;
  justify-content: center;
  border-right: 40px solid transparent;
  border-bottom: 18px solid #949494;
  border-left: 30px solid transparent;
}


.sidewalk {
  position: absolute;
  width: 1300px;
  height: 20px;
  background-color: #888;
  z-index: 0;
}

.start-sidewalk {
  bottom: 430px;
  width: 3140px;
}

.end-sidewalk {
  bottom: 216px;
  width: 3140px;
}

/*Estilos bolardos*/
.bolardos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 22%;
  left: 27.5%;
  width: 45%;
}

.bolardo1 {
  width: 23px;
  height: 160px;
  background-color: #333;
  position: relative;
  margin: 0 20px;
  border-radius: 10px 10px 0 0;
}

.bolardo1::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #333;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.bolardo2 {
  width: 23px;
  height: 160px;
  background-color: #333;
  position: relative;
  margin: 0 20px;
  border-radius: 10px 10px 0 0;
}

.bolardo2::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #333;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bolardo3 {
  width: 23px;
  height: 160px;
  background-color: #333;
  position: relative;
  margin: 0 20px;
  border-radius: 10px 10px 0 0;
}

.bolardo3::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #333;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bolardo4 {
  width: 23px;
  height: 160px;
  background-color: #333;
  position: relative;
  margin: 0 20px;
  border-radius: 10px 10px 0 0;
}

.bolardo4::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #333;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.person-container {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 1000px;
  z-index: 1
}

.person {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: walkUp 4s linear forwards;
  animation-play-state: paused;
  opacity: 1;

}

.head {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
}

.body {
  width: 50px;
  height: 90px;
  background: linear-gradient(to bottom, orange, red);
  position: relative;
  border-radius: 10px 10px 0 0;
}

.left-arm,
.right-arm {
  width: 18px;
  height: 57px;
  background: linear-gradient(to bottom, orange, red);
  position: absolute;
  top: 60px;
  border-radius: 10px;
}

.left-arm::before,
.right-arm::before {
  content: '';
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 19.46%;
  transform: translateX(-20%);
}

.left-arm {
  left: -8px;
  transform: rotate(150px);
  animation: moveArm 3s infinite alternate;
}

.right-arm {
  right: -8px;
  animation: moveArm 3s infinite alternate;
  animation-delay: 0.5s;
}

.left-leg,
.right-leg {
  width: 18px;
  height: 60px;
  background: linear-gradient(to bottom, orange, red);
  position: absolute;
  margin-top: 135px;
  border-radius: 10px;
}

.left-leg::before,
.right-leg::before {
  content: '';
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left-leg {
  left: 0px;
  animation: moveLeg 1s infinite alternate;
}

.right-leg {
  right: -0px;
  animation: moveLeg 1s infinite alternate;
  animation-delay: 0.5s;
}

@keyframes moveArm {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes moveLeg {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes walkUp {
  0% {
    transform: translate(-50%, 0) scale(2);
    opacity: 1;
  }

  80% {
    transform: translate(-50%, -150%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-45%, -200%) scale(0.5);
    opacity: 0;
  }
}

.pole {
  position: absolute;
  bottom: 20%;
  width: 10px;
  height: 200px;
  background-color: black;
  z-index: 2;
}

.left-pole {
  left: 10%;
}

.right-pole {
  right: 10%;
}

.button-container {
  position: relative;
  top: -50px;
  left: -25px;
  width: 60px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}


.btngreen {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 0);
  font-size: 8px;
}

.btn-purple {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: purple;
  font-size: 8px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

@keyframes moveAcrossScreen {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.photo {
  position: absolute;
  top: 50%;
  left: 100%;
  animation: moveAcrossScreen 10s linear infinite;
}

.black-hole-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
  text-align: center;
  visibility: visible;
  z-index: 10;
}

.image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.image-container.show {
  opacity: 1;
}



.spin-animation {
  animation: spin 0.1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
